#!/bin/bash
# scripts to start the go application against the network
cd /go/src/github.com/app

export ROOTPATH=/vars/keyfiles
cp /vars/profiles/{{ CHANNEL_NAME}}_connection_for_javasdk.yaml connection.yaml
mkdir -p wallets
cp /vars/profiles/vscode/wallets/{{ CURRENT_ORG}}/Admin.id wallets/Admin.id
# # java -jar springboot-0.0.1-SNAPSHOT.jar
# java test
echo "emmmmmmmmmm"
gradle run >> cache.log
